form{
     
    height: 30vh;
    display: grid;
    place-items: center;
    border-radius: 3px;
}
body{
   background-color: aquamarine;
   border-radius: 2px;
 
}

h1{
  text-align: center;
 
  border: 3px solid rgb(239, 209, 152);
  background-color: rgb(244, 246, 249);

  line-height: 50px;

  
}
div button{
  text-align: center;
  padding: 10px 20px ;
}
button,
input[type="reset"]{
    padding: 10px 20px;
    border-radius: 2px;
}