h1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(24, 25, 25);
}
body{
    background-color: rgb(120, 246, 143);
    padding: 10px;
    border-radius: 10;

}

form{

    padding: 40px;
    font-size: larger;
    
}
.Signup{
    margin-left:60px ;

}
div{
  text-align: center;
    margin-top: 10px;
}
body{
     height: 100uh;
    display: flex;
    justify-content: center;
    align-items: end;
}
